# Copy to .env only when overriding the docker-compose.yml development defaults.
COMPOSE_PROJECT_NAME=myown-damai-infra

DAMAI_DB_PASSWORD=root
DAMAI_MYSQL_DATABASE=myown_damai
DAMAI_MYSQL_PORT=3306
# Program tables are created manually from damai-program-service/src/main/resources/schema.sql.
DAMAI_PROGRAM_SQL_INIT_MODE=never

DAMAI_REDIS_PASSWORD=123
DAMAI_REDIS_PORT=6379

DAMAI_NACOS_PORT=8848
DAMAI_NACOS_GRPC_PORT=9848
DAMAI_NACOS_AUTH_TOKEN=SecretKey012345678901234567890123456789012345678901234567890123456789
DAMAI_NACOS_IDENTITY_KEY=XN3zr6HfJV%LjUPjRBQzBB
DAMAI_NACOS_IDENTITY_VALUE=B3CU%K3AxEAMrgPBdKLRQRL

DAMAI_ES_PORT=9200
DAMAI_ES_TRANSPORT_PORT=9300
DAMAI_ES_JAVA_OPTS=-Xms768m -Xmx768m

DAMAI_ZOOKEEPER_PORT=2181
DAMAI_KAFKA_PORT=9092

DAMAI_PROMETHEUS_PORT=9090
DAMAI_PROMETHEUS_RETENTION=15d
